body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #3a8dde, #6a5acd);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
